<template>
  <div>
    <div class={computedVisibilityClass}>
      <div class={computedVariantClass} role="status">
        <span class="slds-assistive-text">{assistiveText}</span>
        <lightning-icon
          class="slds-icon_container slds-m-right_small slds-no-flex slds-align-top"
          icon-name={computedIconName}
          size="small"
          variant="inverse"
        ></lightning-icon>

        <div class="slds-notify__content">
          <h2 class="slds-text-heading_small">{title}</h2>
          <p>{message}</p>
        </div>
        <div class="slds-notify__close">
          <lightning-button-icon
            icon-name="utility:close"
            onclick={closeNotication}
            variant="bare-inverse"
          ></lightning-button-icon>
        </div>
      </div>
    </div>
  </div>
</template>
