<template>
  <c-advisr_toast-message></c-advisr_toast-message>

  <c-advisr_modal loading={loading}>
    <span slot="title" class="page-title">{pageTitle}</span>

    <section>
      <!-- Additional messages to be shown-->
      <div class="slds-scoped-notification slds-media slds-media_center slds-theme_warning error-message" role="status" if:true={errorMessage}>
        <div class="slds-media__figure">
          <lightning-icon icon-name="utility:info" variant="warning"></lightning-icon>
        </div>
        <div class="slds-media__body">
          <p>{errorMessage}</p>
        </div>
      </div>

      <div class="save-success slds-scoped-notification slds-media slds-media_center slds-theme_success" role="status" if:true={saveSuccess}>
        <div class="slds-media__figure">
          <lightning-icon icon-name="utility:success" variant="inverse"></lightning-icon>
        </div>
        <div class="slds-media__body">
          <p>{saveSuccessMessage}</p>
        </div>
      </div>

      <!-- Message to show when everything is setup for a proper submission-->
      <template if:true={showCampaignInformation}>
        <div class="campaign-information slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light" role="status">
          <div class="slds-media__figure">
            <lightning-icon icon-name="utility:info"></lightning-icon>
          </div>
          <div class="slds-media__body">
            <p>{confirmationMessage}</p>
          </div>
        </div>
      </template>
    </section>

    <span slot="footer">
      <button
        class="slds-button slds-button_neutral cancel-button"
        onclick={cancel}
        if:true={showCampaignInformation}
      >
        Cancel
      </button>
      <button
        class="slds-button slds-button_brand apply-button"
        onclick={apply}
        if:true={showCampaignInformation}
      >
        Submit
      </button>
      <button
        class="slds-button slds-button_brand ok-button"
        onclick={cancel}
        if:false={showCampaignInformation}
      >
        OK
      </button>
    </span>
  </c-advisr_modal>
</template>
