<template>
  <c-advisr_toast-message></c-advisr_toast-message>

  <c-advisr_modal loading={loading}>
    <span slot="title" class="page-title">{pageTitle}</span>

    <section>
      <div class="slds-p-vertical_medium">
        <lightning-progress-indicator
          current-step={currentStepString}
          type="base"
          variant="base"
        >
          <lightning-progress-step
            label="Select Advisr Client"
            value="1"
          ></lightning-progress-step>
          <lightning-progress-step
            label="Select Advisr Campaign"
            value="2"
          ></lightning-progress-step>
          <lightning-progress-step
            label="Confirm Campaign Information"
            value="3"
          ></lightning-progress-step>
        </lightning-progress-indicator>
      </div>

      <!-- First screen (Select a client) -->
      <c-advisr_link-campaign-step-one
        onstepchange={changeStep}
        onadvisrloadingchange={handleLoadingChange}
        opportunity-id={opportunityId}
        class={stepOneClass}
      ></c-advisr_link-campaign-step-one>

      <!-- Second screen (Select a campaign) -->
      <c-advisr_link-campaign-step-two
        onstepchange={changeStep}
        client-id={clientId}
        opportunity-id={opportunityId}
        class={stepTwoClass}
      ></c-advisr_link-campaign-step-two>

      <!-- Third screen (Submit the form) -->
      <c-advisr_link-campaign-step-three
        onstepchange={changeStep}
        campaign-id={campaignId}
        opportunity-id={opportunityId}
        class={stepThreeClass}
        onsuccess={handleSuccess}
        onadvisrloadingchange={handleLoadingChange}
      ></c-advisr_link-campaign-step-three>
    </section>

    <section slot="footer">
      <lightning-button label="Previous" onclick={previous} if:true={hasPrevious}></lightning-button>
      <lightning-button label={cancelLabel} onclick={cancel}></lightning-button>
      <lightning-button label="Next" onclick={next} if:true={hasNext}></lightning-button>
      <lightning-button label="Submit" onclick={submit} if:true={showSubmit}></lightning-button>
    </section>
  </c-advisr_modal>
</template>
