<template>
  <c-advisr_toast-message></c-advisr_toast-message>

  <lightning-record-edit-form record-id={campaignId} object-api-name="Advisr_Campaign__c" onsuccess={handleSuccess} if:false={saveSuccess}>
    <lightning-messages></lightning-messages>

    <!-- Hidden opportunity field, used for setting the Opportunity ID-->
    <lightning-input-field field-name="Opportunity__c" class="slds-hide" value={opportunityId}></lightning-input-field>

    <!-- Fields that the user can modify -->
    <lightning-input-field field-name="Advisr_Client__c">
    </lightning-input-field>
    <lightning-input-field field-name="Advisr_Campaign_Name__c">
    </lightning-input-field>
    <lightning-input-field field-name="Advisr_Campaign_Is_Primary__c">
    </lightning-input-field>

    <!-- Button hidden from the user that can be used to submit the form -->
    <lightning-button class="slds-m-top_small slds-hide"
      type="submit"
      label="Create new"></lightning-button>
  </lightning-record-edit-form>

  <lightning-record-view-form record-id={campaignId} object-api-name="Advisr_Campaign__c" if:true={saveSuccess}>
    <span class="slds-text-heading_small">{Advisr_Link_Success_Message}</span>

    <!-- Output for the just saved record -->
    <lightning-output-field field-name="Opportunity__c"></lightning-output-field>
    <lightning-output-field field-name="Advisr_Client__c"></lightning-output-field>
    <lightning-output-field field-name="Advisr_Campaign_Name__c"></lightning-output-field>
    <lightning-output-field field-name="Advisr_Campaign_Is_Primary__c"></lightning-output-field>

  </lightning-record-view-form>
</template>
