<template>
  <div class={sizeClass} aria-hidden="true">
    <img src="/img/chatter/OpenRoad.svg" class="slds-illustration__svg" alt=""/>
    <div class="slds-text-color_weak">
        <h3 class="slds-text-heading_medium">{message}</h3>
    </div>
  </div>
</template>