<template>
  <c-advisr_toast-message></c-advisr_toast-message>

  <c-advisr_modal loading={loading}>
    <span slot="title" class="page-title">{pageTitle}</span>

    <!-- Additional messages to be shown-->
    <div class="slds-scoped-notification slds-media slds-media_center slds-theme_warning error-message" role="status" if:true={errorMessage}>
      <div class="slds-media__figure">
        <lightning-icon icon-name="utility:info" variant="warning"></lightning-icon>
      </div>
      <div class="slds-media__body">
        <p>{errorMessage}</p>
      </div>
    </div>

    <div class="save-success slds-scoped-notification slds-media slds-media_center slds-theme_success" role="status" if:true={saveSuccess}>
      <div class="slds-media__figure">
        <lightning-icon icon-name="utility:success" variant="success"></lightning-icon>
      </div>
      <div class="slds-media__body">
        <p>{saveSuccessMessage</p>
      </div>
    </div>

    <template if:false={saveComplete}>
      <!-- Section to show the list of selected campaigns-->
      <template if:true={showRecords}>
        <div class="campaign-information slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light slds-m-bottom_large" role="status">
          <div class="slds-media__figure">
            <lightning-icon icon-name="utility:info"></lightning-icon>
          </div>
          <div class="slds-media__body">
            <p>{Advisr_Unlink_Campaign_Confirmation_Message}</p>
            <ol class="slds-list_ordered slds-text-align_left">
              <template for:each={selectedCampaignRecords} for:item="campaign">
                <li key={campaign.Id}>{campaign.Advisr_Campaign_Name__c}</li>
              </template>
            </ol>
          </div>
        </div>
      </template>

      <template if:true={isSelectionRequired}>
        <span class="slds-text-heading_small"
          >{Advisr_Unlink_Campaign_New_Primary_Required}</span
        >
        <section class="slds-border_top slds-border_right slds-border_left slds-m-top_small">
          <lightning-datatable
            key-field="Id"
            data={remainingCampaignRecords}
            columns={remainingRecordsColumns}
            max-row-selection="1"
            onrowselection={handleCampaignSelection}
          >
          </lightning-datatable>
        </section>
      </template>
    </template>

    <template if:true={saveComplete}>
      <span class="slds-text-heading_small"
        >{Advisr_Unlink_Success_Message}</span
      >
      <ol class="slds-list_ordered slds-text-align_left slds-m-top_medium">
        <template for:each={selectedCampaignRecords} for:item="campaign">
          <li key={campaign.Id}>{campaign.Advisr_Campaign_Name__c}</li>
        </template>
      </ol>
    </template>

    <span slot="footer">
      <button
        class="slds-button slds-button_neutral cancel-button"
        onclick={cancel}
        if:true={showCancelButton}
      >
        Cancel
      </button>

      <button
        class="slds-button slds-button_brand ok-button"
        onclick={cancel}
        if:true={showOKButton}
      >
        OK
      </button>

      <button
        class="slds-button slds-button_brand apply-button"
        onclick={apply}
        if:false={showOKButton}
      >
        Apply
      </button>
    </span>
  </c-advisr_modal>
</template>
