<template>
  <lightning-card>
      <!-- Define the title/icon of the component -->
      <!-- <section slot="title">
          <lightning-icon icon-name={iconName} size="small"></lightning-icon>
          <span class="slds-p-left_small">{title}</span>
      </section> -->

      <div class="placeholder slds-p-around_medium">
          <div class="text-body">
              <div class="text text-medium"></div>
              <div class="text text-short"></div>
              <div class="text text-long"></div>
          </div>
      </div>
  </lightning-card>
</template>