<template>
  <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
          <slot name="title"></slot>
        </h2>
      </header>
      <div class="slds-modal__content slds-p-around_medium">
        <!-- Loading indicator during save-->
        <lightning-spinner variant="brand" size="large" if:true={loading}>
        </lightning-spinner>

        <slot></slot>
      </div>
      <footer class="slds-modal__footer">
        <slot name="footer"></slot>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</template>
