<apex:page standardController="Advisr_Campaign__c" recordSetVar="campaigns">
  <apex:includeLightning />

  <div id="lightning"></div>

  <script>
    let recordIds = [
      <apex:repeat value="{!selected}" var="campaign">
        '{!campaign.Id}',
      </apex:repeat>
    ];
    $Lightning.use("c:advisr_UnlinkCampaignApp", function () {
      $Lightning.createComponent(
        "c:advisr_unlinkCampaignAction",
        {
          recordIds,
          opportunityId: "{!$CurrentPage.parameters.id}"
        },
        "lightning",
        function (cmp) {
          console.log("component was created");
        }
      );
    });
  </script>
</apex:page>
