<template>
  <div class="slds-form">
    <div class="slds-form__row" if:true={client.data}>
      <div class="slds-form__item">
        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
          <span class="slds-form-element__label">Advisr Client</span>
          <div class="slds-form-element__control">
            <div class="slds-form-element__static">
              <a href={clientLink} class="clientName">{clientName}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-form__row">
      <div class="slds-form__item">
        <lightning-input 
          type="search" 
          id="advisr_campaign"
          variant="label-inline" 
          label="Advisr Campaign"
          placeholder="Search Advisr Campaigns"
          onchange={handleInputChange}></lightning-input>
      </div>
    </div>

    <section class="slds-border_top slds-border_right slds-border_left slds-m-top_small" if:false={noData}>
      <lightning-datatable
        data={campaignList}
        columns={tableColumns}
        key-field="Id"
        max-row-selection="1"></lightning-datatable>
    </section>
    
    <c-advisr_no-records-illustration if:true={noData} message={noDataMessage}></c-advisr_no-records-illustration>
    <c-advisr_placeholder if:true={loading}></c-advisr_placeholder>
  </div>
</template>
