<template>
  <c-advisr_toast-message></c-advisr_toast-message>

  <div class="slds-form">
    <div class="slds-form__row">
      <div class="slds-form__item">
        <lightning-input 
          type="search" 
          id="advisr_client" 
          value={searchTerm} 
          variant="label-inline" 
          label="Advisr Client"
          placeholder="Search Advisr Clients"
          onchange={handleInputChange}></lightning-input>
      </div>
    </div>

    <div class="slds-form__row">
      <div class="slds-form__item">
        <c-advisr_lookup
          variant="label-inline"
          label="Group Filter"
          placeholder="Select Group"
          class="slds-form-element slds-form-element_horizontal"
          onsearch={handleGroupSearch}
          onselectionchange={handleSelectionChange}></c-advisr_lookup>
      </div>
    </div>

    <section class="slds-border_top slds-border_right slds-border_left slds-m-top_small" if:false={noData}>
      <lightning-datatable
        data={clientList}
        columns={tableColumns}
        key-field="Id"
        max-row-selection="1"></lightning-datatable>
    </section>
    
    <c-advisr_no-records-illustration if:true={noData} message={noDataMessage}></c-advisr_no-records-illustration>
    <c-advisr_placeholder if:true={loading}></c-advisr_placeholder>
  </div>
</template>